[submodule "octotiger-testdata"]
	path = octotiger-testdata
	url = https://github.com/G-071/octotiger-testdata.git
[submodule "octotiger-performance-tests"]
	path = octotiger-performance-tests
	url = https://github.com/G-071/octotiger-performance-tests
[submodule "external/hpxfft"]
	path = external/hpxfft
	url = https://github.com/dmarce1/hpxfft.git
[submodule "external/astrolib"]
    path = external/astrolib
    url = git@github.com:dmarce1/astrolib.git
