# Copyright (c) 2017 David Pfander
# Copyright (c) 2017-2018 Patrick Diehl
# Copyright (c) 2017-2019 Dominic Marcello
# Copyright (c) 2019 Parsa Amini
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

version: 2

anchors:
    - &docker_config
        docker:
            - image: stellargroup/octotiger:prerequisites-gcc8

jobs:
    build:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - run:
                name: Checkout CPPuddle
                command: git clone https://github.com/G-071/hpx-kokkos-interopt-WIP.git cppuddle
            - run: 
                name: Create CPPuddle installation directory
                command: mkdir cppuddle-install
            - run:
                name: Configure CPPuddle
                command: cmake -H/cppuddle -B/cppuddle/build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=cppuddle-install
            - run:
                name: Build CPPuddle
                command: cmake --build /cppuddle/build -j 2 VERBOSE=1
            - run:
                name: Install CPPuddle
                command: cmake --build /cppuddle/build --target install
            - run:
                name: Configure Octo-Tiger
                command: |
                    cmake -H/octotiger -B/octotiger/build \
                          -DCMAKE_BUILD_TYPE=Release \
                          -DHPX_DIR=/local/hpx/lib/cmake/HPX \
                          -DVc_DIR=/local/vc/lib/cmake/Vc \
                          -DCPPuddle_DIR=cppuddle-install/lib/cmake/CPPuddle \
                          -DSilo_DIR=/local/silo \
                          -DHDF5_ROOT=/local/hdf5 \
                          -DBOOST_ROOT=/local/boost \
                          -DOCTOTIGER_WITH_DOCU=ON \
                          -GNinja
            - run:
                name: Build
                command: cmake --build /octotiger/build -- -j2
            - run:
                name: Documentation
                command: make -C /octotiger/build doc 
            - persist_to_workspace:
                root: /
                paths:
                    - octotiger/build
                    - cppuddle/build

    test_marshak:
        <<: *docker_config
        working_directory: /octotiger/build
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: Marshak wave test
                command: ctest --output-on-failure -R test_problems.cpu.marshak.diff
                no_output_timeout: 100m
            - run:
                name: Move artifacts
                command: |
                    mkdir /test
                    mv *.silo *.dat /test/ || :
                when: always
            - store_artifacts:
                path: /test

    test_blast:
        <<: *docker_config
        working_directory: /octotiger/build
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: Blast test
                command: ctest --output-on-failure -R test_problems.cpu.blast.diff
                no_output_timeout: 200m
            - run:
                name: Move artifacts
                command: |
                    mkdir /test
                    mv *.silo *.dat /test/ || :
                when: always
            - store_artifacts:
                path: /test

    test_sod:
        <<: *docker_config
        working_directory: /octotiger/build
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: Sod shock tube test
                command: ctest --output-on-failure -R test_problems.cpu.sod.diff
                no_output_timeout: 25m
            - run:
                name: Move artifacts
                command: |
                    mkdir /test
                    mv *.silo *.dat /test/ || :
                when: always
            - store_artifacts:
                path: /test

    test_sphere:
        <<: *docker_config
        working_directory: /octotiger/build
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: Solid sphere test
                command: ctest --output-on-failure -R test_problems.cpu.sphere.diff
                no_output_timeout: 25m
            - run:
                name: Move artifacts
                command: |
                    mkdir /test
                    mv *.silo *.dat /test/ || :
                when: always
            - store_artifacts:
                path: /test

    test_rotating_star:
        <<: *docker_config
        working_directory: /octotiger/build
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: Rotating star test
                command: ctest --output-on-failure -R test_problems.cpu.rotating_star.diff
                no_output_timeout: 25m
            - run:
                name: Move artifacts
                command: |
                    mkdir /test
                    mv *.silo *.bin *.dat /test/ || :
                when: always
            - store_artifacts:
                path: /test

workflows:
    version: 2
    build_and_test:
        jobs:
            - build
            - test_marshak:
                requires:
                    - build
            - test_blast:
                requires:
                    - build
            - test_sod:
                requires:
                    - build
            - test_rotating_star:
                requires:
                    - build
            - test_sphere:
                requires:
                    - build
