# Copyright (c) 2017 David Pfander
# Copyright (c) 2017-2018 Patrick Diehl
# Copyright (c) 2017-2019 Dominic Marcello
# Copyright (c) 2019 Parsa Amini
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

version: 2

anchors:
    - &docker_config
        docker:
            - image: stellargroup/octotiger:prerequisites-gcc6
        environment:
            LD_LIBRARY_PATH: /local/hdf5/lib:/local/boost_1_63_0/lib:/local/hpx/lib:/local/Vc/lib

jobs:
    build:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - run:
                name: Configure Octotiger
                command: |
                    cmake -H/octotiger -B/octotiger/build \
                          -DCMAKE_BUILD_TYPE=Release \
                          -DHPX_DIR=/local/hpx/lib/cmake/HPX \
                          -DVc_DIR=/local/vc/lib/cmake/Vc \
                          -DSilo_DIR=/local/silo \
                          -DHDF5_ROOT=/local/hdf5 \
                          -DBOOST_ROOT=/local/boost \
                          -GNinja
            - run:
                name: Build
                command: cmake --build /octotiger/build -- -j2
            - persist_to_workspace:
                root: /
                paths:
                    - octotiger/build

    test_marshak:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: marshak
                working_directory: /octotiger/test_problems/marshak
                command: ./test.sh ../../build/ /local/silo/bin/silodiff

    test_blast:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: blast
                working_directory: /octotiger/test_problems/blast
                command: ./test.sh ../../build/ /local/silo/bin/silodiff

    test_sod:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: sod
                working_directory: /octotiger/test_problems/sod
                command: ./test.sh ../../build/ /local/silo/bin/silodiff

    test_sphere:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - attach_workspace:
                at: /
            - run:
                name: sphere
                working_directory: /octotiger/test_problems/sphere
                command: ./test.sh ../../build/ /local/silo/bin/silodiff

    test_rotating_star:
        <<: *docker_config
        steps:
            - checkout:
                path: /octotiger
            - restore_cache:
                key: v6-build-{{ .Branch }}-{{ .Revision }}
            - run:
                name: rotating_star
                working_directory: /octotiger/test_problems/rotating_star
                command: ./test.sh ../../build/ /local/silo/bin/silodiff

workflows:
    version: 2
    build_and_test:
        jobs:
            - build
            - test_marshak:
                requires:
                    - build
            - test_blast:
                requires:
                    - build
            - test_sod:
                requires:
                    - build
            - test_rotating_star:
                requires:
                    - build
            - test_sphere:
                requires:
                    - build

